<!-- <footer>
    Page footer
</footer> -->
<footer id="layout-footer">
    <p>
    &copy; 2023 DBOOk. All Rights Reserved
    </p>
    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/users/profile">Profile</a>
                </li>
            </ul>
        </nav>
    </div>
  </footer>