
    <body>

        <h1>This is DBOOK/ <%=title %></h1>
   
    </body>
    <section id="feed-post">
        <h4>Posts
        </h4>
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3" placeholder="Type Here..."></textarea>
            <input type ="submit" value="Post">
        </form>
    </section>