<!-- <div>
     <% if(resetPass.is_valid) {%> -->
        <!-- <form action="/resetpassword/?token=<%=accessToken%>" method="post">
            <input type="password" name="password" placeholder="enter new password">
            <input type="password" name="confirm_password" placeholder="confirm_password">
            <input type="submit" name="submit" value="submit">
                </form> -->
            <!-- <%}%> -->
            <!-- <% else {%>
                <h1>Token is expire try agains</h1>
                <%}%> -->
<!-- </div> -->
<h1> hello</h1>