<h1>resetPassword</h1>
<div>
    <form action="/users/resetpassword" method="post">
        <input type="email" name="email" placeholder="enter your registered mail" required>
        <input type="submit" name="submit" value="submit">
    </form>
</div>