<link rel="stylesheet" href="/css/signup.css">
<div id="signup-container">
<h1 id="signup-title">Sign Up</h1>
<form action="/users/create" method="POST" class="signup-form">
    <input type="text" name="name" placeholder="Your Name" class="signup-input" required>
    <input type="email" name="email" placeholder="Enter email-user@gmail.com" class="signup-input" required>
    <input type="password" name="password" placeholder="Enter password" class="signup-input" required>
    <input type="password" name="confirm_password" placeholder="Confirm your password" class="signup-input" required>
     <input type="submit" value="sign-up" class="signup-button">
     <!-- <input class="signBtn" type="submit" value="Sign Up"></input> -->
        <div class="flex">
            <div class="google-icon">
                <img width="25" height="25" src="https://img.icons8.com/color/25/google-logo.png" alt="google-logo"/>
            </div>
            <a class="google-link" href="/users/auth/google">Sign Up with Google</a>
        </div>
</form>
</div>