<h1>Enter your registered mail</h1>
<form action="/users/resetpass-mail" method="post">
    <input type="email" name="email" placeholder="enter registered mail id">
    <input type="submit" name="submit" value="submit">
</form>